<div class="m-5 d-inline-flex justify-content-center align-items-center admin">

    <mat-card class="p-3 m-4 links">
        <a class="nav-link" routerLink="/admin/location">Location</a>
    </mat-card>
    <mat-card class="p-3 m-4 links">
        <a class="nav-link" routerLink="/admin/movie">movie</a>
    </mat-card>
    <mat-card class="p-3 m-4 links">
        <a class="nav-link" routerLink="/admin/theatre">Theatre</a>
    </mat-card>
    <mat-card class="p-3 m-4 links">
        <a class="nav-link" routerLink="/admin/movie-location">MovieLocation</a>
    </mat-card>
    <mat-card class="p-3 m-4 links">
        <a class="nav-link" routerLink="/admin/movie-theatre">MovieTheatre</a>
    </mat-card>

</div>