<div class="d-flex justify-content-center align-items-center my-5">

    <form [formGroup]="movieLocationForm" (ngSubmit)="createMovieLocation()">

        <mat-card class="p-3">

            <mat-card-header>
                <mat-card-title>Movie-location</mat-card-title>
            </mat-card-header><br>

            <mat-card-content>

                <select class="form-control" formControlName="locationId">
                    <option value="">Select location</option>
                    <option *ngFor="let city of cities$|async" value={{city.id}}>{{city.city}}</option>
                </select>

            </mat-card-content><br>

            <mat-card-content>

                <select class="form-control" formControlName="movieId">
                    <option value="">Select movie</option>
                    <option *ngFor="let movie of movies$|async" value={{movie.id}}>{{movie.titleEn}}</option>
                </select>

            </mat-card-content><br>

            <mat-card-content>
                <button mat-raised-button color="accent" [disabled]=" movieLocationForm.invalid">Create
                    movie-location</button>
            </mat-card-content>

        </mat-card>

    </form>

</div>

<mat-card class="d-flex mx-5 my-3" *ngFor="let movieLocation of movieLocations$|async">

    <mat-card-header>{{movieLocation.movie.titleEn}} &nbsp; <span>-</span> &nbsp;
        {{movieLocation.location.city}}</mat-card-header><br>

    <mat-card-content>
        <button mat-raised-button color="warn" (click)=" deleteMovieLocation(movieLocation.id)">Delete
            movie-location</button>
    </mat-card-content>

</mat-card>