<form [formGroup]="locationForm">
    <select formControlName="selectedLocation" (change)="getMovies()">
        <option value="">---------</option>
        <option *ngFor="let city of cities" value={{city.city}}>{{city.city}}</option>
    </select>
</form>

<main>
    <ul *ngFor="let movie of movies">
        <a routerLink="/movie/{{movie.id}}">
            <img src="data:image/jpg;base64,{{movie.photo}}" />
            <li>{{movie.title}}</li>
            <li>{{movie.description}}</li>
            <li>{{movie.language}}</li>
            <li>{{movie.rating}}</li>
        </a>
    </ul>
</main>