<div class="d-flex flex-row-reverse align-items-center p-3">

    <form [formGroup]="locationForm">
        <select class="form-control" formControlName="selectedLocation" (change)="getMovies()">
            <option value="" selected>Select location</option>
            <option *ngFor="let city of cities" value={{city.city}}>{{city.city}}</option>
        </select>
    </form>

</div>

<h2 class="d-flex justify-content-center" *ngIf="this.locationForm.get('selectedLocation')?.value===''">select location
    to get movies</h2>

<main class="d-flex flex-wrap justify-content-evenly mx-5">

    <div class="card movie my-5" *ngFor="let movie of movies">

        <div>

            <a class="nav-link movie" routerLink="/movie/{{movie.id}}">
                <img *ngIf="movie.photo!==''" class="rounded movie" src="data:image/jpg;base64,{{movie.photo}}" />
                <img *ngIf="movie.photo===''" class="rounded movie" src="../../assets/movie.png" />
            </a>

        </div>

        <span class="mat-h2 px-3">{{movie.title}}</span>

    </div>

</main>