<form [formGroup]="signupForm" (ngSubmit)="signup()">

    <div class="d-flex justify-content-center align-items-center full-height">

        <mat-card class="p-3">

            <mat-card-header>
                <mat-card-title>Signup</mat-card-title>
            </mat-card-header><br>

            <mat-card-content>
                <mat-form-field>

                    <mat-label>Username</mat-label>
                    <input matInput type="text" formControlName="username" />

                    <mat-error *ngIf="signupForm.get('username')?.hasError('required')">
                        Please enter a username
                    </mat-error>
                    <mat-error *ngIf="signupForm.get('username')?.hasError('minlength')">
                        Min <strong>8</strong> characters required
                    </mat-error>
                    <mat-error *ngIf="signupForm.get('username')?.hasError('pattern')">
                        Should have A-Z,a-z,0-9,_ only
                    </mat-error>
                    <mat-error *ngIf="signupForm.get('username')?.hasError('maxlength')">
                        Max <strong>30</strong> characters allowed
                    </mat-error>

                </mat-form-field>
            </mat-card-content>

            <mat-card-content>
                <mat-form-field>

                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password" />

                    <mat-error *ngIf="signupForm.get('password')?.hasError('required')">
                        Please enter a password
                    </mat-error>
                    <mat-error *ngIf="signupForm.get('password')?.hasError('minlength')">
                        Min <strong>7</strong> characters required
                    </mat-error>
                    <mat-error *ngIf="signupForm.get('password')?.hasError('pattern')">
                        should consist A-Z,a-z,0-9
                    </mat-error>

                </mat-form-field>
            </mat-card-content>

            <mat-card-content>
                <mat-form-field>

                    <mat-label>Confirm Password</mat-label>
                    <input matInput type="password" formControlName="confirmPassword" />

                    <mat-error *ngIf="signupForm.get('confirmPassword')?.hasError('required')">
                        Please enter a password
                    </mat-error>
                    <mat-error *ngIf="signupForm.get('confirmPassword')?.hasError('minlength')">
                        Min <strong>7</strong> characters required
                    </mat-error>
                    <mat-error *ngIf="signupForm.get('confirmPassword')?.hasError('pattern')">
                        should consist A-Z,a-z,0-9
                    </mat-error>

                </mat-form-field>
            </mat-card-content>

            <mat-card-content>
                <mat-form-field>

                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="email" />

                    <mat-error *ngIf="signupForm.get('email')?.hasError('required')">
                        Please enter a mail
                    </mat-error>
                    <mat-error *ngIf="signupForm.get('email')?.hasError('email')">
                        Mail should be valid
                    </mat-error>

                </mat-form-field>
            </mat-card-content>

            <mat-card-content>
                <button mat-raised-button color="accent" [disabled]="signupForm.invalid">signup</button>
            </mat-card-content>

        </mat-card>

    </div>

</form>