<div class="d-flex justify-content-evenly align-items-center theatre">

    <form [formGroup]="theatreForm" (ngSubmit)="createTheatre()">

        <mat-card class="p-3">

            <mat-card-header>
                <mat-card-title>Theatre</mat-card-title>
            </mat-card-header><br>

            <mat-card-content>
                <mat-form-field>

                    <mat-label>English name</mat-label>
                    <input matInput type="text" formControlName="nameEn">

                    <mat-error *ngIf="theatreForm.get('nameEn')?.hasError('required')">
                        Please enter a name
                    </mat-error>
                    <mat-error *ngIf="theatreForm.get('nameEn')?.hasError('minlength')">
                        Min <strong>2</strong> characters required
                    </mat-error>
                    <mat-error *ngIf="theatreForm.get('nameEn')?.hasError('maxlength')">
                        Max <strong>29</strong> characters allowed
                    </mat-error>
                    <mat-error *ngIf="theatreForm.get('nameEn')?.hasError('pattern')">
                        Should have only alphabets and spaces
                    </mat-error>

                </mat-form-field>
            </mat-card-content>

            <mat-card-content>
                <mat-form-field>

                    <mat-label>Hindi name</mat-label>
                    <input matInput type="text" formControlName="nameHi">

                    <mat-error *ngIf="theatreForm.get('nameHi')?.hasError('required')">
                        Please enter a name
                    </mat-error>

                </mat-form-field>
            </mat-card-content>

            <mat-card-content>
                <mat-form-field>

                    <mat-label>Telugu name</mat-label>
                    <input matInput type="text" formControlName="nameTe">

                    <mat-error *ngIf="theatreForm.get('nameTe')?.hasError('required')">
                        Please enter a name
                    </mat-error>

                </mat-form-field>
            </mat-card-content>

            <mat-card-content>

                <select class="form-control" formControlName="locationId">
                    <option value="">Select city</option>
                    <option *ngFor="let city of cities$|async" value={{city.id}}>{{city.city}}</option>
                </select>

            </mat-card-content><br>

            <mat-card-content>
                <button mat-raised-button color="accent" [disabled]="theatreForm.invalid">Create theatre</button>
            </mat-card-content>

        </mat-card>
    </form>

    <mat-card class="p-3">

        <mat-card-header>
            <mat-card-title>Update theatre</mat-card-title>
        </mat-card-header><br>

        <div class="d-flex flex-row align-items-center justify-content-evenly">

            <form [formGroup]="theatreNameForm" (ngSubmit)="updateTheatreName()">

                <mat-card-header>
                    <mat-card-title>Update names</mat-card-title>
                </mat-card-header><br>

                <mat-card-content>
                    <mat-form-field>

                        <mat-label>English name</mat-label>
                        <input matInput type="text" formControlName="nameEn">

                        <mat-error *ngIf="theatreForm.get('nameEn')?.hasError('required')">
                            Please enter a name
                        </mat-error>
                        <mat-error *ngIf="theatreForm.get('nameEn')?.hasError('minlength')">
                            Min <strong>2</strong> characters required
                        </mat-error>
                        <mat-error *ngIf="theatreForm.get('nameEn')?.hasError('maxlength')">
                            Max <strong>29</strong> characters allowed
                        </mat-error>
                        <mat-error *ngIf="theatreForm.get('nameEn')?.hasError('pattern')">
                            Should have only alphabets and spaces
                        </mat-error>

                    </mat-form-field>
                </mat-card-content>

                <mat-card-content>
                    <mat-form-field>

                        <mat-label>Hindi name</mat-label>
                        <input matInput type="text" formControlName="nameHi">

                        <mat-error *ngIf="theatreForm.get('nameHi')?.hasError('required')">
                            Please enter a name
                        </mat-error>

                    </mat-form-field>
                </mat-card-content>

                <mat-card-content>
                    <mat-form-field>

                        <mat-label>Telugu name</mat-label>
                        <input matInput type="text" formControlName="nameTe">

                        <mat-error *ngIf="theatreForm.get('nameTe')?.hasError('required')">
                            Please enter a name
                        </mat-error>

                    </mat-form-field>
                </mat-card-content>

                <mat-card-content>

                    <select class="form-control" formControlName="theatreId">
                        <option value="">Select theatre</option>
                        <option *ngFor="let theatre of theatres" value={{theatre.id}}>{{theatre.nameEn}}</option>
                    </select>

                </mat-card-content><br>

                <mat-card-content>
                    <button mat-raised-button color="accent" [disabled]=" theatreNameForm.invalid">Update names</button>
                </mat-card-content>

            </form>

            <form [formGroup]="theatreLocationForm" (ngSubmit)="updateTheatreLocation()">

                <mat-card-header>
                    <mat-card-title>Update location</mat-card-title>
                </mat-card-header><br>

                <mat-card-content>

                    <select class="form-control" formControlName="theatreId">
                        <option value="">Select theatre</option>
                        <option *ngFor="let theatre of theatres" value={{theatre.id}}>{{theatre.nameEn}}</option>
                    </select>

                </mat-card-content><br>

                <mat-card-content>

                    <select class="form-control" formControlName="locationId">
                        <option value="">Select location</option>
                        <option *ngFor="let city of cities$|async" value={{city.id}}>{{city.city}}</option>
                    </select>

                </mat-card-content><br>

                <mat-card-content>
                    <button mat-raised-button color="accent" [disabled]="theatreLocationForm.invalid">Update
                        location</button>
                </mat-card-content>

            </form>

        </div>

    </mat-card>

</div>

<mat-card class="d-flex mx-5 my-3" *ngFor="let theatre of theatres">

    <mat-card-header>{{theatre.nameEn}}</mat-card-header><br>

    <mat-card-content>
        <button mat-raised-button color="warn" (click)=" deleteTheatre(theatre.id)">Delete theatre</button>
    </mat-card-content><br>
</mat-card>